@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tomasos!</h1>
    <img src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg?size=338&ext=jpg" />
    <h1 class="display-4">Om Nom Nom!</h1>
</div>
